



@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');


*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Poppins', sans-serif;
}

*::selection{
    background-color: rgba(17, 17, 17, 0);
}

body{
    width: 100%;
    min-height:100vh;
    overflow: hidden;
}


.navBar{
    width: 300px;
    min-height: 100vh;
    background-color:#EDEDED;
    padding: 10px;
    position: relative;
    transition: width 0.2s ease;
}



.navBar .logo{
    height: 40px;
    width: 100%;
    /* margin-top:20px; */
    display:inline-block;
}

.navBar .logo .logo_content{
    display: flex;
    align-items:center;
    justify-content: space-between;
    position: relative;
    height: 40px;
    display: flex;
    align-items: center;
    /* border: 1px solid #11101d; */
}



.navBar .logo .logo_content span{
    font-size: 25px;
    font-weight: 600;
    color: #1F1D36;
}

.navBar .logo .logo_content i{
    position: absolute;
    width: 40px;
    height: 40px;
    font-size:40px;
    font-weight:600;
    top: 0px;
    right: 0;
    cursor:pointer;                                                                                                                                             
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    color: #1F1D36;
}



.links{
    /* border: 1px solid #11101d; */
    margin-top:40px;
}

.links ul li {
    margin: 20px 0;
}

.links ul li a{
    display: block;
    line-height: 40px;
    height: 40px;
    width: 100%;
    border-radius: 5px;
    display: flex;
    align-items: center;
    transition: all 0.2s ease;
}


.links ul li a .icon{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid; */
}

.links ul li a .icon i{
    font-size: 20px;
    color: #1F1D36;
}


.links ul li a  span{
    color: #1F1D36;
    margin-left: 20px;
    font-weight: 500;
}

.links ul li a{
    background-color: #1F1D36;
}

.links ul li a span{
    color:#EDEDED;
    font-size: 16px;
}

.links ul li  a .icon i{
    color: #EDEDED;
}



/* dark */

.navBar_content .dark{
    /* border: 1px solid black; */
    display: block;
    line-height: 40px;
    height: 40px;
    width: 100%;
    padding-left:5px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease;
}
.navBar_content .notDark {
    transition: all 0.3s ease !important;

}

.navBar_content .dark  .dark_content{
    width: 40px;
    height: 20px;
    border-radius:20px;
    background-color: #1F1D36;
    display: flex;
    align-items: center;
    padding: 2px;
    transition: all 0.3s ease;
}

.navBar_content .notDark .dark_content{
    width: 40px;
    height: 20px;
    border-radius:20px;
    background-color: #EDEDED !important;
    /* border: 1px solid; */
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 2px;

    transition: all 0.3s ease !important;
}

.navBar_content .notDark .dark_content i{
    color: #1F1D36 !important;
    font-size: 16px !important;
}

.navBar_content .dark  .dark_content i{
    color: #EDEDED;
    font-size: 16px;
}

.navBar_content .dark span{
    color: #1F1D36;
    margin-left: 20px;
    font-size: 16px;
    font-weight: 600;
}


.navBar_content .signOut{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: #1F1D36;
}


.navBar_content .signOut .signOut_content a{
    display: block;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navBar_content .signOut .signOut_content a i{
    color: #EDEDED;
    font-size: 25px;
}


.navBar_content .signOut .signOut_content a span{
    color: #EDEDED;
    font-size: 20px;
    margin-left: 10px;
}


.dark_light{
    padding: 5px;
    width: 50px;
    transition: width 0.2s ease;
}



.dark_light .navBar_content .logo .logo_content span{
    display:none;
}


.dark_light .navBar_content .links ul li a span{
    display: none;
}


.dark_light .navBar_content .dark span{
    display: none;
}


.dark_light .navBar_content .signOut .signOut_content a span{
    display: none;
}



body{
    background-color: #fff;
    transition: all 0.3s ease;
}

.full-back{
    background-color: #203239;
    transition: all 0.3s ease;
}

.back{
    background-color: #1F1D36;
}

.back .navBar_content .logo .logo_content span{
    color: #EDEDED;

}

.back .navBar_content .logo .logo_content i{
    color: #EDEDED !important;
}


.back .navBar_content  .links ul li a{
    background-color: #EDEDED;
}

.back .navBar_content  .links ul li a .icon i{
    color: #1F1D36;
}

.back .navBar_content  .links ul li a span{
    color: #1F1D36;
}

.back .navBar_content .dark span{
    color: #EDEDED !important;
}

.back .navBar_content .dark {
    color: #EDEDED !important;
}

.back .navBar_content .signOut .signOut_content a{
    background-color: #EDEDED;
}

.back .navBar_content .signOut .signOut_content a i{
    color: #1F1D36;
}

.back .navBar_content .signOut .signOut_content a span{
    color: #1F1D36;
}